.scrollers::-webkit-scrollbar {
    width: 3px;
}
.scrollers::-webkit-scrollbar-thumb {
    background-color: #05386b;
    border-radius: 100px;
    border: none;
}

.sideScroll::-webkit-scrollbar{
    width: 0;   
}