#validate1{
    visibility: hidden;
    background-color: white;
    right:0px;
    bottom: 80px;
    background-color: black;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    flex: auto;
}
.in1:focus ~ #validate1 {
    visibility: visible;
}

@media screen and (max-width: 680px) {
    .side{
        visibility: hidden;
    }
}