.scrolling::-webkit-scrollbar {
    width: 5px;
}
.scrolling::-webkit-scrollbar-track {
    background-color: #e4e4e4;
    border-radius: 100px;
}
 
.scrolling::-webkit-scrollbar-thumb {
    background-color: #000000;
    border-radius: 100px;
}